@model kisiselWebsitem.Models.Model.Menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Menü Detay</h2>

<div>
    <h4>Menü</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenuAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Siralama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Siralama)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.MenuId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-primary" })
</p>
