@model IEnumerable<kisiselWebsitem.Models.Model.Ayarlar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        Site Ayarları
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Keywords)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LogoURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unvan)
                </th>
                <th>
                    İşlemler
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keywords)
                    </td>
                    <td>
                        @Html.Raw(item.Description)
                    </td>
                    <td>
                        <img class="img-responsive" src="@item.LogoURL" width="50" height="50" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unvan)
                    </td>
                    <td>
                        @Html.ActionLink("Güncelle", "Edit", new { id = item.KimlikId }, new { @class = "article btn" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>




