@using kisiselWebsitem.Helpers;
@model IEnumerable<kisiselWebsitem.Models.ViewModel.HomeViewModel>

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Anasayfa";
}
<section id="featured">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @{
                    Html.RenderAction("SliderPartial", "Home");
                }
            </div>
        </div>
    </div>
</section>
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2><span>ARİF KAPLAN</span> Asp.net Mvc</h2>
                    </div>
                    @Html.Raw(@ViewBag.Ayarlar.Aciklama)

                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="heading">Şehir Tanıtımı</h4>
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs" class="portfolio">
                            @foreach (var item in ViewBag.Bloglar)
                            {
                                <li class="col-lg-3 design" data-id="id-0" data-type="web">
                                    <div class="item-thumbs">
                                        <a class="hover-wrap" title="@item.Baslik" href="/BlogPost/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.BlogId">
                                            <span class="overlay-img"></span>
                                            <span class="overlay-img-thumb font-icon-plus"></span>
                                        </a>
                                        <img src="@item.ResimURL" alt="@Html.Raw(item.Icerik.Substring(0, 250))..." style="height:150px;">
                                    </div>
                                    <p style=" height: 100px; ">
                                        @Html.Raw(item.Icerik.Substring(0, 250))...
                                    </p>
                                </li>
                            }
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

