<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.Ayarlar.Unvan</title>
    <meta name="description" content="@Html.Raw(ViewBag.Ayarlar.Description)" />
    <meta name="keywords" content="@ViewBag.Ayarlar.Keywords" />
    <!-- css -->
    <link href="/Content/SiteLayout/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/SiteLayout/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/Content/SiteLayout/css/jcarousel.css" rel="stylesheet" />
    <link href="/Content/SiteLayout/css/flexslider.css" rel="stylesheet" />
    <link href="/Content/SiteLayout/css/style.css" rel="stylesheet" />
    <link href="/Content/SiteLayout/skins/default.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href=""><img src="@ViewBag.Ayarlar.LogoURL" height="30" width="75" /> @ViewBag.Ayarlar.Unvan</a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            @foreach (var item in ViewBag.Menu)
                            {
                                <li><a href="/@item.Url">@item.MenuAdi</a></li>
                            }
                            
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
            @RenderBody()
        @{
            Html.RenderAction("FooterPartial", "Home");
        }
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <script src="/Content/SiteLayout/js/jquery.js"></script>
    <script src="/Content/SiteLayout/js/jquery.easing.1.3.js"></script>
    <script src="/Content/SiteLayout/js/bootstrap.min.js"></script>
    <script src="/Content/SiteLayout/js/jquery.fancybox.pack.js"></script>
    <script src="/Content/SiteLayout/js/jquery.fancybox-media.js"></script>
    <script src="/Content/SiteLayout/js/google-code-prettify/prettify.js"></script>
    <script src="/Content/SiteLayout/js/portfolio/jquery.quicksand.js"></script>
    <script src="/Content/SiteLayout/js/portfolio/setting.js"></script>
    <script src="/Content/SiteLayout/js/jquery.flexslider.js"></script>
    <script src="/Content/SiteLayout/js/animate.js"></script>
    <script src="/Content/SiteLayout/js/custom.js"></script>
</body>
</html>